<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<html lang="en">
<head>
</head>
<body>
<div th:fragment="header">
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item active">
                    <a class="nav-link active" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link disabled" href="#">Disabled</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0 mr-3" type="submit">Search</button>
                <div sec:authorize="isAnonymous()">
                    <a th:href="@{/signup}" class="btn btn-default my-2 my-sm-0"> Sign Up</a>
                    <a th:href="@{/login}" class="btn btn-default my-2 my-sm-0"> Log In</a>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <a href="/login" th:href="@{/logout}" class="btn btn-outline-danger my-2 my-sm-0"> Log Out</a>
                </div>
            </form>
        </div>
    </nav>
</div>

</body>
</html>
