<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Додавання нової промо події</title>
    <meta charset="UTF-8">
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
 <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> 
<script>
$(function() {
  $("#datepicker").datepicker();
});
</script>

</head>
<body>
    <h1>Додавання нової промо події</h1>

    <form class="form horizontal" th:action="@{/eventform}" th:object="${event}" method="post">
        <table>
        
        <input type="hidden" th:field="*{id}"/>
        
        <p>Дата події <input type="datetime"  id="datepicker"/></p>
        
        
            <select class="form-control" th:field="*{promo}">

                <option th:each="promo: ${promoList}"
                        th:value="${promo.getId()}"
                        th:utext="${promo.getPromoName().toString()}"
                ></option>

            </select>

            <select class="form-control" th:field="*{company}">
                <option th:each="companyList : ${companies}"
                        th:value="${{companyList.getId()}}"
                        th:utext="${companyList.getCompanyName().toString()}"></option>
            </select>

            <select class="form-control" th:field="*{supermarket}">
                <p>Вибір постачальника</p>
                <option th:each="supermarket : ${supermarketList}"
                        th:value="${supermarket.getId()}"
                        th:utext="${supermarket.getSupermarketName().toString()}">
                </option>

            </select>

            <p>Опис події: <textarea rows="" cols=""  th:field="*{description}"></textarea>  </p>

        </table>
        <p><input type="submit" value="Додати подію"></p>
        <a href="/">У головне меню</a>
    </form>
    
</body>
</html>