<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<title>Events</title>
</head>
<header>
	<div th:replace="/fragments/header :: header"/>
</header>
<body>
	<div class="container">
		<div th:if="${not #lists.isEmpty(events)}">
			<h2>Список подій</h2>
			<table class="table table sub-striped">
				<tr>
					<th>id</th>
					<th>Дата події</th>
					<th>Постачальник</th>
					<th>Промо</th>
					<th>Супермаркет</th>
					<th>Опис події</th>
				</tr>
				<tr th:each="event : ${events}">
					<td th:utext="${event.getId()}">id</td>
					<td th:utext="${event.getDate()}"></td>
					<td>
						<span th:each="company, iterStat : ${event.company}">
						<span th:utext="${company.getCompanyName()}"></span>
						</span>
					</td>
					<td>
						<span th:each="promo, iterStat : ${event.promo}">
						<span th:text="${promo.getPromoName()}"></span>
						</span>
					</td>
					<td>
						<span th:each="supermarket, iterStat : ${event.supermarket}">
						<span th:utext="${supermarket.getSupermarketName()}"></span>
						</span>
					</td>
					<td th:utext="${event.getDescription()}"></td>
					
					<td>
						
							<a th:href="${'/event/update/' +event.getId()}">Редагувати подію</a>
					</td>
				</tr>
			</table>
		</div>
	</div>
	

</body>
</html>