<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>

    <title>Login Form</title>
</head>

<body class="text-center">

<!--Header content here-->
<header class="header">
    <div th:replace="fragments/header :: header"/>
</header>

<!-- Begin page content -->
<main role="main" class="container">
    <form class="form-signin" th:action="@{/login}" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Please Log In</h1>
        <fieldset>
            <div class="form-group">
                <label for="username" class="sr-only">Email address</label>
                <input type="email" name="username" id="username" class="form-control"
                       placeholder="Email address" required autofocus>
            </div>
            <div class="form-group">
                <label for="password" class="sr-only">Password</label>
                <input type="password" name="password" id="password" class="form-control"
                       placeholder="Password" required>
            </div>
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Log In</button>
        </fieldset>
    </form>
</main>

<!--Footer content here-->
<footer class="footer">
    <div class="container">
        <span class="text-muted">
        <div th:replace="fragments/footer :: footer"/>
        </span>
    </div>
</footer>

</body>
</html>