<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="../css/main.css"/>
    <title>Головне меню</title>
</head>

<header>
    <div th:replace="/fragments/header :: header"></div>
</header>

<body>
<h1>Головне меню</h1>

<p>Що плануєте робити?</p>
<ol>
    <li><a href="/eventform">Додати подію</a></li>
    <li><a href="/eventlist">Список всіх подій</a></li>
    <li><a href="/companyform">Додати нового постачальника</a></li>
    <li><a href="/companylist">Список всіх постачальників</a>
    <li><a href="/promoform">Додати новий тип промо</a></li>
    <li><a href="/supermarketform">Додати нову торгівельну точку</a></li>
</ol>
</body>
</html>