<!DOCTYPE html>
<html xmlns:th:="http://thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<title>Promo submission</title>
</head>

<header>
	<div th:replace="/fragments/header :: header"/>
</header>

<body>
	<h1>Promo form</h1>
	
	<form action="#" th:action="@{/promoform}" th:object="${promo}" method="post">
	<p>New promo type: <input type="text" th:field="*{promoName}" /></p>
	<p><input type="submit" value="SUBMIT"/><input type="reset" value="RESET"></p>
	</form>
<a href="/">У головне меню</a>
</body>
</html>