<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" href="../css/main.css"/>
<title>Supermarket form</title>
</head>

<header>
	<div th:replace="/fragments/header :: header"/>
</header>

<body>
	<h1>Form submission</h1>
		<form action="#" th:action="@{/supermarketform}" th:object="${supermarket}" method="post">
			<p>New Supermarket name <input type="text" th:field="*{supermarketName}"></p>
			<p><input type="submit" value="SUBMIT" /><input type="reset" value="RESET"/></p>
		</form>
	<a href="/">У головне меню</a>
</body>
</html>